.main {
    font-family:'EB Garamond', serif;
    font-size: 40px;
    font-weight:900;
    color: rgb(46, 46, 46);
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}