hr { 
    display:block;
    height:3pt;
    border:0;
    border-top:1px solid #333333;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/

* {
    text-decoration: none;
}

body {
    background-color: #242424
}

header{
    background-color: rgb(193, 142, 142);
    width: 100%;
    height: 130px;
}

header .header-brand {
    font-family:'EB Garamond', serif;
    font-size: 40px;
    font-weight:900;
    color: rgb(46, 46, 46);
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 180px;
}

header nav ul li {
   display: inline-block;
   list-style:none;
   padding: 0 16px;

}

header nav ul li a {
    font-family:'EB Garamond', serif;
    font-size: 20px;
    font-weight:500;
    color: rgb(108, 70, 70);
    text-transform: uppercase;
}

header .header-cases{
    display:none;
}

@media(min-width:600px){
    body {
        background-color: #b17979
    }
    
    header{
        background-color: rgb(240, 209, 209);
        width: 100%;
        height: 130px;
    }

    header .header-brand {
        color: rgb(112, 56, 56);
        margin: 30px 0 ;
        text-align:center;
        line-height:50px;
        padding: 0 20px 0 40px;
        border-bottom: 3px solid #b17979;
        float: left;
    }

    header nav ul{
        margin: 20px 0px 0px 20px;
        float:right;
    }
    
    header nav ul li a {
        line-height: 100px; 
        float:inline-start;
        color: rgb(255, 255, 255);
    }

    header .header-cases{
        display:flex;
        font-family:'EB Garamond', serif;
        font-size: 20px;
        color: rgb(252, 247, 247);
        text-transform: uppercase;
        line-height: 40px; 
        border:1px solid rgb(248, 234, 234);
        float:right;
        margin-right:40px;
        margin-top: 0px;
        padding:0 40px;
    }
}

@media only screen and (min-width:1000px){
    body {
        background-color: #ffffff
    }
    
    header{
        background-color: rgb(237, 192, 192);
        width: 100%;
        height: 130px;
    }
    
    header .header-brand {
        color: rgb(125, 63, 63);
        margin: 30px 0 ;
        text-align:left;
        line-height:50px;
        padding: 0 20px 0 40px;
        border-right: 3px solid  rgb(125, 63, 63);
        border-bottom: none;
        float:inliner-start;
    }

    header nav ul{
        margin: 20px 0px 0px 20px;
        float: none;
    }
    
    header nav ul li a {
        line-height: 100px; 
        float:inline-start;
        color: rgb(143, 94, 94);
    }

    header .header-cases{
        display:inline-flexbox;
        font-family:'EB Garamond', serif;
        font-size: 20px;
        color: rgb(143, 94, 94);
        text-transform: uppercase;
        line-height: px; 
        border:1px solid rgb(143, 94, 94);
        margin-right:40px;
        margin-top: 0px;
        padding:0 40px;
    }
}

/*INDEX*/
.index-banner{
    width: 100%;
    height: 20px;
    /*background-image: url('img/banner.jpeg');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center{
    display: table-cell;
    vertical-align: top;
}

.index-banner h2{
    font-family:'EB Garamond', serif;
    font-size: 30px;
    font-weight:500 ;
    line-height: 40px;
    color:rgb(236, 236, 236);
    text-align:center;
    /*text-shadow: 0.5px 2px 8px #111;*/
}


.index-banner h1{
    font-family:'EB Garamond', serif;
    font-size: 17px;
    font-weight:150 ;
    font-style:italic;
    line-height: 20px;
    color:rgb(213, 213, 213);
    text-align:center;
    /*text-shadow: 1px 2px 4px #111;*/
}

.index-links div{
    margin: 10px 10px 0;
    width: calc(100% - 20px);
    height: 100px;
    background-color: #e6d2d2;
}


.index-links div h3{
    font-family:'EB Garamond', serif;
    font-size: 20px;
    font-weight:600 ;

    line-height: 100px;
    color:rgb(149, 98, 98);
    text-align:center;
    text-transform:uppercase;
}

@media(min-width: 600px){
    .wrapper{
        width: 1000px;
        margin: 0 auto;
    }
    .index-banner{
        height: 100px;
        background-position: center;
    }

    .index-banner h2{
        font-family:'EB Garamond', serif;
        font-size: 30px;
        font-weight:500 ;
        line-height: 40px;
        color:rgb(255, 255, 255);
        text-align:center;
        /*text-shadow: 0.5px 2px 8px #111;*/
    }
   
    .index-banner h1{
        display:block;
        color:rgb(243, 213, 213);
        text-align:center;
        width:560px;
        margin:0 auto;
    }

    .index-links{
        overflow: hidden;
    
    }
    

    .index-links div{
        margin: 20px 10px 0;
        height: 150px;
        background-color: rgb(255, 255, 255);
        float: left;
    }

     .index-boxlink-square{
        width: calc(25% - 2px)!important;
     }

     .index-boxlink-rectangle{
        width: calc(25% - 2px)!important;
     }

     .index-links div h3{
        line-height: 100px;
    }
}

@media only screen and (min-width: 1000px){
    .wrapper{
        width: 1000px;
        margin: 0 auto;
    }
    .index-banner{
        height: 200px;
    }

    .index-banner h2{
        font-family:'EB Garamond', serif;
        font-size: 30px;
        font-weight:500 ;
        line-height: 40px;
        color: rgb(125, 63, 63);
        text-align:center;
        /*text-shadow: 0.5px 2px 8px #111;*/
    }
   
    .index-banner h1{
        display:block;
        color: rgb(155, 84, 84);
        text-align:center;
        width:560px;
        margin:0 auto;
    }


    .index-links{
        overflow: hidden;
    
    }
    

    .index-links div{
        margin: 20px 10px 0;
        height: 150px;
        background-color: #ead6d6;
        float: left;
    }

     .index-boxlink-square{
        width: calc(25% - 2px)!important;
     }

     .index-boxlink-rectangle{
        width: calc(50% - 2px)!important;
     }


     .index-links div h3{
        line-height: 100px;
    }
     
}
/*FOOTER*/