/*Reset*/
html{
    font-size: 2pt;
}

body{
    margin:0;
}

img{
    max-width: 100%;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Nav*/
nav ul{
    display: flex;
    flex-direction: column
}

nav li{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border-bottom:1px black solid;
}

nav li a {
    color: black;
    text-decoration: none;
}

.no-btm-border{ 
    border-bottom: none;
}

@media (min-width: 600px){
    nav ul { 
        flex-direction: row;
        justify-content: space-around;
    }

    .no-btm-border {
        border-bottom: 1pt solid
         black;
    }
    

    #homeLink {
        padding: 12px;
        background-color: rgb(44, 184, 189);
        order: 1;
    }

    #bloglink{
        order: 2;
    }
    
    #connectlink{
        order: 3;
    }

    .current {
        font-style: italic;
        font-weight: 600;
    }
}

/*Main*/
h1, h3{
    font-family: 'Lato', Arial, Helvetica, sans-serif
}

h1{
     font-weight: 300;
     font-size: 64pt;
}

h3{ 
    font-weight: 400;
    font-size:32px
}